* {
  box-sizing: border-box;
}

html {
  font-family: roboto-regular;
  color: var(--ClrPriamyText);
  line-height: 1.714;
}

body {
  margin: 0;
  font-size: 0.875rem;
}

h1, h2, h3, h4, h5, h6{
  margin: 0 0 1rem;
  line-height: 1.5;
  font-weight: 400;
}

h2 {
  font-size: 2.142em;
}

img {
  width: 100%;
}

a {
  color: var(--Primary-1)
}

p {
  margin: 0 0 1em;
}