* {
  box-sizing: border-box;
}

html {
  font-family: roboto-regular;
  background-color: #F8F8F8;
  color: var(--ClrPriamyText);
  line-height: 1.714;
  /* overflow-x: hidden; */
  overflow-y: hidden;
}

body {
  margin: 0;
  font-size: 0.875rem;
}

img {
  width: 100%;
}

a {
  color: var(--Primary-1)
}

p {
  margin: 0 0 1em;
}