/* MAIN LAYOUT */

.main-layout {
  display: grid;
  grid-template-columns: 128px 1fr 64px;
  grid-template-areas: 
  'header header header'
  'aside main main'
  'aside main main'
  'footer footer footer';
  grid-template-rows: auto 1fr auto;
  /* min-height: 100vh */
}


.main-header {
  display: grid;
  grid-area: header;
}

.main-side-bar {
  display: grid;
  grid-area: aside;
}

.gallery-layout {
  display: grid;
  grid-area: main;
  grid-template-columns: repeat(9, 162px);
  grid-auto-rows: 160px;
  grid-gap: 10px;
  grid-auto-flow: dense;
}

.canvas-container {
  grid-area: main;
}

.footer-layout {
  display: grid;
  grid-area: footer;
}


/* .main-layout > *:not(.full) {
  grid-column: 2;
}

.main-layout > *.full {
  grid-column: 1 / -1;
} */

/* ASIDE LAYOUT */
/* .main-side-bar > * {
  display: grid;
  grid-column: 1;
}

.main-nav > *{
  display: grid;
  grid-column: 1;
} */
