/* MAIN LAYOUT */

.main-layout {
  display: grid;
  grid-template-columns: 128px 1fr;
}

.main-layout > *.full {
  grid-column: 1 / -1;
} 

/* .main-layout > *:not(.full, .main-side-bar) {
  grid-column: 2;
}  */


/* SIDE BAR LAYOUT */
.main-side-bar {
  height: 100vh;
  grid-column: 1;
}


/* CANVAS */

/* .canvas-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 2;
  grid-row: 2  / 2;
}

.canvas-actions {
  grid-column: 2;
}

.canvas-object {
  grid-column: 1;
  display: flex;
  justify-content: center;
  align-items: center;
} */