/* MAIN LAYOUT */

.main-layout {
  display: grid;
  grid-template-columns: 128px 1fr; /* Two equal columns */
  grid-template-rows: auto 1fr auto; /* Header, Main, and Footer */
}

 /* .main-layout > *:not(.full) {
  grid-column: 2;
} */


.main-layout > *.full {
  grid-column: 1 / -1;
}

/* HEADER LAYOUT */

/* .main-header {
  grid-column: 1 / -1;
} */

/* SIDE BAR LAYOUT */
.main-side-bar {
  grid-column: 1;
}

/* MAIN LAYOUT */
.main-main {
  grid-column: 2 / -1;
  display: grid;
  grid-template-columns: 1fr 64px;
}

/* GALLERY LAYOUT */
.gallery-layout {
  grid-column: 1;
  grid-row: 1;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-auto-rows: 160px;
  grid-gap: 10px;
  grid-auto-flow: dense;
}

/* CANVAS LAYOUT */
.canvas-container {
  grid-column: 1; 
  grid-row: 2;
  display: grid;
  gap: 10px;
}

.canvas-object {
  grid-column: 1;
}
.canvas-actions {
  grid-column: 2;
}

/* FOOTER LAYOUT */
/* .footer-layout {
  grid-column: 1 / -1;
} */
