.canvas-container {
  /* padding: 32px; */
  /* background-color: purple; */
  display: flex;

  width: 100vw;
  height: calc(100vh - 65px - 40px);
  margin: auto;
}


canvas {
  /* width: 100%; */
  display: flex;
  background-color: #fff;
  border-radius: 24px;
  /* border: 1px solid black; */
}