.canvas-container {
  background-color: lightgoldenrodyellow;
  border: 1px solid black;
  padding: 32px;
}

.canvas-actions {
  background-color: green;
  
}

canvas {
  background-color: #fff;
  border: 1px solid black;
}