.gallery-layout {
  padding: 32px;
  background-color: yellow;
}

.gallery-layout img {
  border-radius: 8px;
  cursor: pointer;

  transition: scale 0.4s;
}

.gallery-layout img:hover {
  scale: 1.3;
}