.gallery-layout {
  padding: 27px;
  /* max-width: 1500px; */
}

.gallery-layout img {
  border-radius: 8px;
  margin-right: 8px;
  cursor: pointer;

  width: 150px;

  transition: scale 0.4s;
}

.gallery-layout img:hover {
  scale: 1.1;
}

.upload-box {
  background-color: red;
  width: 150px;

  display: flex;
 flex-direction: column;
}

.upload-box input[type='file'] {
  background-color: blue;
  width: 150px;
  display: flex;
  flex-direction: column;
}